<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<div class="container">
  <div class="welcome">
    <h1>Welcome, Librarian!</h1>
  </div>

  <div class="card text-center general" style="width: 18rem;">
    <h6 class="card-header">General</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Library Card</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Check-In</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Check-Out</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Manage Rental</button>
      </li>
    </ul>
  </div>
  <div class="card text-center manage-books" style="width: 18rem;">
    <h6 class="card-header">Manage Books</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Search Books</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm">Add Book</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Remove Book</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Update Book</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Locate Book</button>
      </li>
    </ul>
  </div>
  <div class="card text-center administrator-options" style="width: 18rem;">
    <h6 class="card-header">Administrator Options</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Manage Backups</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Manage User</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Add Publisher</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Remove Publisher</button>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-secondary btn-sm" disabled>Print Reports</button>
      </li>
    </ul>
  </div>
</div>